@{
    ViewBag.Title = "Đổi nước uống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/DoiNuoc.css">
<div class="custom-body1">
    <div class="page-container">
        <div class="main-content">
            <h2 class="main-title">Đổi nước uống đóng bình 20L gần đây, giao nhanh tận nhà</h2>
            <p class="main-description">
                ✅ ❤️➤ Lựa chọn các đại lý Đổi nước uống đóng bình 20L gần đây là xu hướng mà nhiều khách hàng đặt ra khi có nhu cầu mua nước uống đóng bình cho gia đình hoặc cơ quan sử dụng. ✅ ❤️ Các dịch vụ giao nước bình gần đây luôn đảm bảo thời gian phục vụ nhanh chóng nhất và tiết kiệm chi phí. ❤️❤️ Sơn Hà Water tự hào là một trong những dịch vụ <b>giao nước bình tận nơi</b> uy tín hàng đầu tại TPHCM, chắc chắn là một giải pháp thay thế đáng tin cậy, thuận tiện và giá cả phải chăng thay dành cho quý khách.
            </p>

            <div class="table-of-contents">

                <div class="district-column">
                    <h4>GIAO NƯỚC</h4>
                    <ul>
                        <li><a href="@Url.Action("Quan1", "DoiNuoc")">Quận 1</a></li>
                        <li><a href="@Url.Action("Quan3", "DoiNuoc")">Quận 3</a></li>
                        <li><a href="@Url.Action("Quan4", "DoiNuoc")">Quận 4</a></li>
                        <li><a href="@Url.Action("Quan5", "DoiNuoc")">Quận 5</a></li>
                        <li><a href="@Url.Action("Quan6", "DoiNuoc")">Quận 6</a></li>
                    </ul>
                </div>
                <div class="district-column">
                    <h4>GIAO NƯỚC</h4>
                    <ul>
                        <li><a href="@Url.Action("Quan7", "DoiNuoc")">Quận 7</a></li>
                        <li><a href="@Url.Action("Quan8", "DoiNuoc")">Quận 8</a></li>
                        <li><a href="@Url.Action("Quan10", "DoiNuoc")">Quận 10</a></li>
                        <li><a href="@Url.Action("Quan11", "DoiNuoc")">Quận 11</a></li>
                        <li><a href="@Url.Action("QuanTanBinh", "DoiNuoc")">Quận Tân Bình</a></li>
                    </ul>
                </div>
                <div class="district-column">
                    <h4>GIAO NƯỚC</h4>
                    <ul>
                        <li><a href="@Url.Action("QuanTanPhu", "DoiNuoc")">Quận Tân Phú</a></li>
                        <li><a href="@Url.Action("QuanPhuNhuan", "DoiNuoc")">Quận Phú Nhuận</a></li>
                        <li><a href="@Url.Action("QuanBinhThanh", "DoiNuoc")">Quận Bình Thạnh</a></li>
                        <li><a href="@Url.Action("QuanGoVap", "DoiNuoc")">Quận Gò Vấp</a></li>
                        <li><a href="@Url.Action("QuanBinhTan", "DoiNuoc")">Quận Bình Tân</a></li>
                        <li><a href="@Url.Action("QuanBinhChanh", "DoiNuoc")">Bình Chánh</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <h4>THÔNG TIN LIÊN QUAN</h4>
            <ul>
                <li>
                    <img src="~/Content/assets/images/icon-giao-nuoc.png" alt="Image 1">
                    <a href="#">Giao nước uống khu vực Nguyễn Xí, quận Bình Thạnh giá rẻ</a>
                </li>
                <li>
                    <img src="~/Content/assets/images/hinhanh4.jpg" alt="Image 2">
                    <a href="#">Đổi nước bình 20L giá rẻ ở quận 10 gần đây, giao nhanh</a>
                </li>
                <li>
                    <img src="~/Content/assets/images/Giao nước uống tận nhà.jpg" alt="Image 3">
                    <a href="#">Đổi nước, giao nước bình 20L giá rẻ ở quận 5 gần đây</a>
                </li>
                <li>
                    <img src="~/Content/assets/images/dich-vu-giao-nuoc-tan-nha-giaonuoc.png" alt="Image 4">
                    <a href="#">Đổi nước bình 20L giá rẻ ở quận 11 gần đây, giao nhanh tận nhà</a>
                </li>
                <li>
                    <img src="~/Content/assets/images/hinhanh4.jpg" alt="Image 5">
                    <a href="#">Đổi nước, giao nước bình 20L giá rẻ quận Tân Bình gần đây</a>
                </li>
            </ul>
        </div>
    </div>
</div>